*~
*.swp
*.mdb
*.meta
*.blend1

bin
obj
Assets/**/*.png
/Assets/src/stk59gms-02.jpg
/Releases
/GameData/GroundConstruction/Plugins/GroundConstruction.dll
*.pdb
/GameData/GroundConstruction/Plugins/*.dll
/GameData/GroundConstruction/Plugins/PluginData/GroundConstruction/config.xml
